__pycache__/                                                                                                          
  *.pyc                                                                                                                 
  .venv/                                                                                                                
  app.log
